@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

img{
	width: 100%;
}

body{
	background: #E2E2E2;
  font-family: arial;
}
imagen{
 width: auto;
 height: auto;
 top: auto;
 left: auto;
 position: absolute;
}


	/* CSS Document */
