<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Biblioteca Digital Universitaria</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Biblioteca Universitaria publica y gratuita.">
<meta name=”distribution” content=”global”/>
<meta name="Robots" content="all"/>
<meta name="author" content="Jhonnel Nuñez">
<meta http-equiv=”Content-Language” content=”es”/>
<meta name="google-site-verification" content="ZNB1_oUwpp_1iIqrgJyJP6FVnnddtyJjh3uRTE3lK90" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/estilos.css">
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="image_src" href="img/logo.png">

<link rel="icon" href="img/favicon.ico" type="image/x-icon">
</head>
<body>
<!-- Navegación -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- icono mostrado en modo móvil-->
            <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
							<!--  -->

            </div>
						<!-- <picture>
								<img src="img/logo_light.png" alt="logo bibloudo">
						</picture> -->


            <!-- Contenido del navbar -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="portafolio.php"></a>
                    </li>
                  <li class="dropdown">
										<a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Libros<b class=" icon-angle-down"></b></a>
												<ul class="dropdown-menu">
														<li><a href="mainsistemas.html" class="texto-negro">Ing. en Sistemas</a></li>
														<li><a href="mainpetroleo.html" class="texto-negro">Ing. en Petroleo</a></li>
														<li><a href="mainagronomia.html"class="texto-negro">Ing. Agronomica</a></li>
														<li><a href="mainpanimal.html" class="texto-negro">Ing. de Produccion animal</a></li>
														<li><a href="mainadministracion.html" class="texto-negro">Lic. Administracion</a></li>
														<li><a href="maincpublica.html"class="texto-negro">Lic. Contaduria publica</a></li>
														<li><a href="maingrh.html" class="texto-negro">Lic. Gerencia Recursos Humanos</a></li>
														<li><a href="maintecalimentos.html" class="texto-negro">Tecnologia de los alimentos</a></li>
													</ul>
                    </li>
                    <li>
                        <a class="dropdown-toggle" href="#Libros_Pupolares">Populares</a>
                    </li>
										<!-- <li>
												<a class="page-scroll" href="#chat">Chat Publico</a>
										</li> -->
										<li>
												<a class="dropdown-toggle" href="#Acerca">Acerca de Bibloudo</a>
										</li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <!-- Cabecera -->
    <header>
        <div class="container">
            <div class="intro-text">
              <!--  <div class="intro-lead-in">Bienvenido a la pagina web de</div>
                <div class="intro-heading">SSN</div>
                <a href="#services" class="page-scroll btn btn-xl">Servicios</a> -->
            </div>
        </div>
    </header>

    <!-- Sección Libros-->
    <section id="Libros_Pupolares" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Libros</h2>
                    <h3 class="section-subheading text-muted">Estos son los libros mas descargados y visto.</h3>
                </div>
            </div>
            <div class="row">
							<!-- Libro 1 -->
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="./Libros/Sistemas/Programacion/basic.pdf" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/books/HTML5.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>El gran libro de HTML5, CSS3 y JavaScript</h4>
                        <p class="text-muted">Manual basico para programacion web</p>
                    </div>
                </div>
								<!--libro 2 -->
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="./Libros/Sistemas/Electronica/basica.pdf" target="_blank" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/books/electronica.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Electronica Basica I</h4>
                        <p class="text-muted">Conceptos basicos y ejercicios practicos</p>
                    </div>
                </div>
								<!-- Libro 3 -->
									<div class="col-md-4 col-sm-6 portfolio-item">
											<a href="./Libros/Sistemas/Servidores/server.pdf" target="_blank" class="portfolio-link" data-toggle="modal">
													<div class="portfolio-hover">
															<div class="portfolio-hover-content">
																	<i class="fa fa-plus fa-3x"></i>
															</div>
													</div>
													<img src="img/books/ubuntu.png" class="img-responsive" alt="">
											</a>
											<div class="portfolio-caption">
													<h4>Guía Para Administradores de Sistemas GNU/Linux</h4>
													<p class="text-muted">Manual de manejo de servidores web</p>
											</div>
									</div>
									<!-- Libro 4 -->
										<div class="col-md-4 col-sm-6 portfolio-item">
												<a href="./Libros/Sistemas/Filosofia/Discurso_Metodo.pdf" target="_blank" class="portfolio-link" data-toggle="modal">
														<div class="portfolio-hover">
																<div class="portfolio-hover-content">
																		<i class="fa fa-plus fa-3x"></i>
																</div>
														</div>
														<img src="img/books/descartes.png" class="img-responsive" alt="Rene descartes" rel="image_src" >
												</a>
												<div class="portfolio-caption">
														<h4>Discurso del Metodo</h4>
														<p class="text-muted">Traducción y prólogo de Manuel Garcia Morente</p>
												</div>
										</div>
										<!-- Libro 5 -->
										<div class="col-md-4 col-sm-6 portfolio-item">
												<a href="./Libros/Economia/Fundamental/Fundamentos.pdf" target="_blank" class="portfolio-link" data-toggle="modal">
														<div class="portfolio-hover">
																<div class="portfolio-hover-content">
																		<i class="fa fa-plus fa-3x"></i>
																</div>
														</div>
														<img src="img/books/economia.png" class="img-responsive" alt="">
												</a>
												<div class="portfolio-caption">
														<h4>Fundamentos de la Ing. Economica</h4>
														<p class="text-muted">Por Gabriel Baca Urbina</p>
												</div>
										</div>
											<!-- Libro 6 -->
												<div class="col-md-4 col-sm-6 portfolio-item">
														<a href="./Libros/Sistemas/Fisica/SERWAY_TOMO 2.pdf" target="_blank" class="portfolio-link" data-toggle="modal">
																<div class="portfolio-hover">
																		<div class="portfolio-hover-content">
																				<i class="fa fa-plus fa-3x"></i>
																		</div>
																</div>
																<img src="img/books/fisica2.png" class="img-responsive" alt="">
														</a>
														<div class="portfolio-caption">
																<h4>Fisica 2</h4>
																<p class="text-muted">Serway y Jewet</p>
														</div>
												</div>
            </div>
        </div>
    </section>
		<!-- Sección Chat -->
		<!-- <section class="success" id="chat">
	  <div class="col-lg-12 text-center">
					<h2 class="section-heading">Chat Publico</h2>
					<embed wmode="transparent" src="https://www.xatech.com/web_gear/chat/chat.swf" quality="high" width="540" height="405" name="chat" FlashVars="id=220071370" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash"
					pluginspage="https://xat.com/update_flash.php" />
<br>
<br>
<br>
		</div>
</section> -->

    <!-- Sección acerca de bibloudo -->
    <section class="success" id="Acerca">
  		<div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                   <h2 class="section-heading">Acerca de Bibloudo</h2>
                </div>
            </div>
            <!-- Mision-->
            <div class="row">

                <div class="team-member">
              <img src="img/mision.jpg" class="img-responsive img-circle" alt="">
                        <h4>Misión</h4>
                        <p class="text-muted">Porqué tenemos una mision que cumplir</p>

              </div>

                <div class="col-lg-4 col-lg-offset-2">
               <p>
                        Ayudar a nuestros estudiantes y profesores a conseguir el material necesario para alcanzar una buena formación académica y profesional.
                    </p>
                </div>
                <div class="col-lg-4">
									<p>
						 							Conseguir ser una plataforma estable que ayude a profesores como estudiante extraer informacion relacionada con su carrera o profesión.
						 					</p>
                </div>

            </div>
            <!-- Vision-->
            <div class="row">

                <div class="team-member">
                        <img src="img/vision.jpg" class="img-responsive img-circle" alt="Vision">
                        <h4>Visión</h4>
                        <p class="text-muted">Nuestra visión a futuro</p>

              </div>

                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        Tener un constante crecimiento en estructura e informacion, abierta para el mayor grupo de estudiante y profesores como sea posible
				</div>

                        <div class="col-lg-4"><p>
                        Crecer hasta convertirnos en la biblioteca universitaria más grande y completa, así como evolucionar para ayudar de cualquier manera posible a los estudiantes de Universitarios.

                    </p>
                </div>

            </div>

        </div>

    </section>

    <!--Pie de página-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <span class="copyright">Copyright &copy; desarrollado por equipo de Adsi 2018 Universidad de Oriente</span>
                </div>
                <!-- <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/jhonnel-nu%C3%B1ez-58b2b410a/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div> -->
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                       <!--  <li><a href="#">Politicas de privacidad</a>
                        </li>
                        <li><a href="#">Terminos de uso</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </footer>

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>
</body>
</html>
